# Terraform files
.terraform/
.terraform.lock.hcl

# State files (VERY IMPORTANT - contains secrets)
*.tfstate
*.tfstate.*

# Variable files (may contain secrets)
*.tfvars
*.tfvars.json

# Crash logs
crash.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json